.navigate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  background-color: black;
  height: 80px;
}

.navigate > nav {
  display: flex;
  justify-content: center;
}

@media (max-width: 500px) {
  .navigate > nav {
    border: 1px solid white;

    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.li {
  display: flex;
  justify-content: center;
  margin: 0px 10px;
  height: 20px;
  text-decoration: none;
  color: white;
  list-style: none;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

.top > h3 {
  display: none;
}

.li:hover {
  color: aqua;
}
.logo {
  cursor: pointer;
  color: white;
}

@media (max-width: 600px) {
  .navigate {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid white;
  }
  .top > h3 {
    display: block;
    color: white;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
  }
  .top > h1 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #hidden {
    display: none;
  }
  .navigate > nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid white;
    margin: 0;
  }
}
